---
import "../styles/global.css";
import CalorieTrackerApp from "../components/CalorieTrackerApp.tsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon-light.svg"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon-dark.svg"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon-light.png"
      sizes="32x32"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon-dark.png"
      sizes="32x32"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      href="/favicon-light.ico"
      sizes="any"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      href="/favicon-dark.ico"
      sizes="any"
      media="(prefers-color-scheme: dark)"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Calorie Tracker</title>
  </head>
  <body class="min-h-screen bg-slate-100 text-slate-900">
    <CalorieTrackerApp client:only="react" />
  </body>
</html>
